<ion-view view-title="Home">
  <ion-content>
    <h2 class="center cat"> Entrée de Vins </h2>
    <p class="center topMarge" >
      Veuillez compléter les champs afin d'ajouter votre vin à la carte des vins
    </p>
    <form ng-submit="enter()" class="center bott">
          <span class="center ">Code Barre</span>
          <input class="inputb center" type="text" ng-model="vinData.barre" placeholder="Exemple : 2FA4T5202">
          <span class="center ">Nom du vin</span>
          <input type="text" class="inputb center" placeholder="Exemple : Chablis" ng-model="vinData.nom">
          <span class="center">Année</span>
          <input type="text" class="inputb center" placeholder="Exemple : 2009" ng-model="vinData.annee">
          <span class="center">Type de Vin</span>
          <input type="text" class="inputb center" list="catid" placeholder="Exemple : Vin rouge" ng-model="vinData.type"/>
            <datalist id="catid">
                <option ng-repeat="cat in cats" value="{{cat.id_categorie}}">{{cat.nom_categorie}}</option>
            </datalist>
            <span class="center size-15">Quantité</span>
            <div class="add-remove">
              <button class="btn-remove left"  type="button" ng-click="minus()">-</button>
              <input type="number" class="inputb center left" ng-model="vinData.quantite">
              <button class="btn-add left"  type="button" ng-click="plus()">+</button>
            </div>
            <div class="clear"></div>
          <span class="center">Prix</span>
          <input type="text" class="inputb center" placeholder="Exemple : 110 €" ng-model="vinData.prix">
          <span class="center">Fournisseur</span>

          <input type="text" class="inputb center" list="fournid" placeholder="Exemple : La belle étoile" ng-model="vinData.fournisseur"/>
            <datalist id="fournid">
                <option ng-repeat="fourn in fourns" value="{{fourn.id_fournisseur}}">{{fourn.nom_fournisseur}}</option>
            </datalist>

          <button class="sub button button-stable greel" type="submit">Ajouter</button>

    </form>

  </ion-content>
</ion-view>
