<ion-view view-title="Home">
  <ion-content>
    <h2 class="center cat"> Votre Vin </h2>

    <div id="printSectionId" class="topMarge">
    <img src="{{ product.image_produit }}" class="imgpr">
    <div class="txtpr">
      <h2 > {{ product.nom_vin }} - {{ product.annee_vin }}</h2>

      Code Barre : {{ product.code_barre_vin }}<br/>
      Quantité : {{ product.quantite_vin }}<br/>
      Prix : {{ product.prix_vin }} €<br/>
      Type : {{ product.nom_categorie }}<br/>
      Fournisseur : {{ product.nom_fournisseur }}<br/>
      Date Entrée : {{ product.entree_vin }}<br/>
    </div>
    <div class="clear"></div>

    </div>
    <p class="center topMarge">
      <button class="button button-stable greel " ng-click="print('printSectionId')">Imprimer l'etiquette</button>
    </p>

  </ion-content>
</ion-view>
