<ion-view view-title="Home">
  <ion-content>
    <h2 class="center cat"> Produits </h2>
    <div id="buttons">
        <button class="button button-stable greel" ng-click="entree()">Entrée de produit</button><br/>
        <button class="button button-stable greel" ng-click="sortie()">Sortie de produit</button><br/>
        <button class="button button-stable greel" ng-click="commande()">Commande de produit</button><br/>
        <button class="button button-stable greel" ng-click="stock()">Stock</button>
    </div>
  </ion-content>
</ion-view>
