<ion-view>
  <ion-content>


    <h2 class="center cat"> Plats vendus </h2>
    <p class="center size-18">{{ par }}</p>
    <div class="topMarge center">
    <button class="button button-stable greel short" ng-click="day()">Jour</button>
    <button class="button button-stable  greel short" ng-click="week()">Semaine</button>
    <button class="button button-stable  greel short" ng-click="month()">Mois</button>
    <button class="button button-stable  greel short" ng-click="year()">Année</button>
</div>

  <div class="center">
    <div id="donutchart"  style="width: 900px; height: 500px; margin:auto;"></div>
</div>


  </ion-content>
</ion-view>
