<ion-view> 
  <ion-content>
    <h2 class="center cat bottomMarge60"> Votre Carte des Vins </h2>
    <ion-list>
      <div class="auto width-800 padding-left-125">
        <p class="left width-100 middle size-16 width-300">Produits</p>
        <p class="left width-100 middle size-16 width-150">Quantité</p>
      </div>
      <div class="list auto width-800 topMarge" >
        <ion-item class="item item-icon-right" ng-repeat="product in products"  href="#/stockVinDet/{{product[0]}}">
        	<div class="col_md_2"><img src="{{product.image_vin }}" height="54" width="54" class="auto"></div>
          <div class="padding-top-17">
            <div class="col_md_2 left width-300"> {{product.nom_vin}}</div>
            <div class="col_md_2 left width-150"> {{product.quantite_vin}}</div>
          </div>
          <i class="icon ion-chevron-right" style="color:#ccc; font-size:16px;"></i>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
