<ion-view view-title="Home">
  <ion-content>
    <h2 class="center cat"> Votre Vin </h2>

    <div id="printSectionId" class="topMarge">
    <img src="{{ product[0]['image_vin'] }}" class="imgpr">
    <div class="txtpr">
      <h2 > {{ product[0]['nom_vin'] }} - {{ product[0]['annee_vin'] }}</h2>

      Code Barre : {{ product[0]['code_barre_vin'] }}<br/>
      Quantité : {{ product[0]['quantite_vin'] }}<br/>
      Prix : {{ product[0]['prix_vin'] }} €<br/>
      Type : {{ product[0]['nom_categorie'] }}<br/>
      Fournisseur : {{ product[0]['nom_fournisseur'] }}<br/>
      Date Entrée : {{ product[0]['entree_vin'] }}<br/>
    </div>
    <div class="clear"></div>

    </div>
    <p class="center topMarge">
      <button class="button button-stable greel " ng-click="print('printSectionId')">Imprimer l'etiquette</button>
    </p>

  </ion-content>
</ion-view>
